@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto&display=swap');

html,
body {
	min-height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #fffffe;
	height: 100%;
	margin: 0;
}

a {
	color: hsl(0 64% 48%);
	transition: all 0.2s;

	&:hover {
		color: hsl(0deg 59.42% 40.59%);
	}
}